<!DOCTYPE html>
<html lang="pt-br" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>     
        <div class="container d-flex justify-content-center align-items-center" style="height: 70vh;"> 
            <form action="/login" class="d-grid" method = 'post'>
                <img src="../static/images/Logo_PigPesoWhite.png?v=2" alt="logo_PigPeso" alt="Logo_PigPeso" style="width: 250px; height: 250px;">
                <h1 class="m-auto mt-3">LOGIN</h1>
                <input type="text" placeholder="Nome" class="form-control mt-4" name="nome" required>
                <input type="password" placeholder="Senha" class="form-control mt-3" name="senha" required>
                <button type="submit" class="btn btn-info mt-3" style="width: 100%;">Entrar</button>
            </form>
        </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</html>