<!DOCTYPE html>
<html lang="pt-br" data-bs-theme = "dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navbar</title>
</head>
<body>
    <nav class="d-flex navbar navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="../static/images/Logo_PigPesoWhite.png" alt="Logo_PigPeso" style="width: 100px; height: 100px;"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
          <a class="nav-link" href="/registro_suino">Registrar Suíno</a>
          <a class="nav-link" href="/registro_pessoa">Registrar Funcionário</a>
          <a class="nav-link" href="/relatorios">Relatórios</a>
          <div class=><a href="/logout" class="btn btn-outline-danger">Sair</a></div>
          
      </div>
    </div>
  </div>
</nav>
</body>
</html>